#search-results-container {
 
    margin-top: 1rem;
}


.word-info-row-dark {
    background-color: #eee;
}


#table-info-container {
    /* display: flex;
    align-content: center;
    justify-content: center;    */
}