html {
  width: 100%;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
}


#app-content-container {
  margin-top: 1rem;
}

@media (max-width: 768px) { 
  
  #app-content-container {
    margin-left: unset !important;
    margin-right: unset !important;
  }
 }
